<form style="float:left;" ng-submit="addAccess()">
  <select ng-model="markerAccess.access">
    <option value="1">Escalier</option>
    <option value="2">Escalator</option>
    <option value="3">Escalator plat</option>
    <option value="4">Ascenseur</option>
    <option value="5">Rampe</option>
    <option value="6">Trottoir plat</option>
    <option value="7">Trottoir haut</option>
  </select>
  <br>
  <input ng-model="markerAccess.entitled" type="text" placeholder="Nom de l'accès"/>
  <br>
  <textarea ng-model="markerAccess.description" ></textarea>

  <input type="submit" value="Enregistrer"/>
</form>

<form style="float:right; width:35%; margin-right:10%;" ng-submit="addPlace()">
  <fieldset>
    <legend>Step 1</legend>
    <select ng-model="markerPlace.place">
      <option value="2">Ecoles</option>
      <option value="3">Metro</option>
      <option value="4">Gare</option>
      <option value="5">Aéroport</option>
      <option value="6">Restaurant</option>
      <option value="7">Boutique</option>
      <option value="8">Loisir</option>
      <option value="9">Parking</option>
      <option value="10">Administration</option>
      <option value="11">Hébergement</option>
    </select>

    <br><br>
    <input ng-model="markerPlace.entitled" type="text" placeholder="nom du lieu"/>
    <br><br>
    <textarea ng-model="markerPlace.description"></textarea>
  </fieldset>

  <fieldset>
    <legend>Step 2</legend>
    <label for="addmarker-stairs">Escalier</label>
    <input ng-model="markerTypeAccess.stairs" type="checkbox" id="addmarker-stairs"/>
    <br><br>

    <label for="addmarker-escalators">Escalator</label>
    <input ng-model="markerTypeAccess.escalators" type="checkbox" id="addmarker-escalators"/>
    <br><br>

    <label for="addmarker-flatEscalators">Escalator plat</label>
    <input ng-model="markerTypeAccess.flatEscalators" type="checkbox" id="addmarker-flatEscalators"/>
    <br><br>

    <label for="addmarker-elevator">Ascenseur</label>
    <input ng-model="markerTypeAccess.elevator" type="checkbox" id="addmarker-elevator"/>
    <br><br>

    <label for="addmarker-ramp">Rampe</label>
    <input ng-model="markerTypeAccess.ramp" type="checkbox" id="addmarker-ramp"/>
    <br><br>

    <label for="addmarker-flatPavement">Trottoir plat</label>
    <input ng-model="markerTypeAccess.flatPavement" type="checkbox" id="addmarker-flatPavement"/>
    <br><br>

    <label for="addmarker-hightPavement">Trottoir haut</label>
    <input ng-model="markerTypeAccess.hightPavement" type="checkbox" id="addmarker-hightPavement"/>
    <br><br>

  </fieldset>

  <fieldset>
    <legend>Step 3</legend>
    <textarea ng-model="markerPlace.complements.accessEnterExit">Description entrée sortie</textarea>
    <br><br>
    <label for="addmarker-toiletAdapt"> Toilettes Adaptées </label>
    <input ng-model="markerPlace.complements.toiletAdapt" type="checkbox" id="addmarker-toiletAdapt"/>
    <br><br>
    <label for="addmarker-equipmentAdapt">Equipments Adaptés</label>
    <input ng-model="markerPlace.complements.equipmentAdapt" type="checkbox" id="addmarker-equipmentAdapt"/>
    <br><br>
    <label for="addmarker-handicapGantry">Portique Handicapé</label>
    <input ng-model="markerPlace.complements.handicapGantry" type="checkbox" id="addmarker-handicapGantry"/>
    <br><br>
    <label for="addmarker-informationOffice">Bureau d'information</label>
    <input ng-model="markerPlace.complements.informationOffice" type="checkbox" id="addmarker-informationOffice"/>
    <br><br>
    <input ng-model="markerPlace.complements.exitNumber" type="text" placeholder="Numero de sortie Metro">
    <br><br>
    <input ng-model="markerPlace.complements.subwayLine" type="text" placeholder="Numero de ligne Metro">
    <br><br>

  </fieldset>

  <input type="submit" value="Enregistrer"/>
</form>
