<header class="landing-banner">
		<div class="row connect-button">
			<div class="col-md-7 col-lg-7"></div>
			<div class="col-xs-12 col-md-4 col-lg-4">
				<a href="#/sign-up">
					<button type="button" class="btn btn-connect btn-signUp">Inscription</button>
				</a>
				<a href="#">
					<button type="button" class="btn btn-connect btn-signIn">Connexion</button>
				</a>
			</div>
			<div class="col-md-1 col-lg-1"></div>
		</div>

		<div class="row landing-access">
			<div class="col-md-7 col-lg-7"></div>
			<div class="col-xs-12 col-md-4 col-lg-4">
				<div class="access-line">
					<span class="glyphicon glyphicon-triangle-bottom"></span>
				</div>

				<div class="access-text">
					<span class="access-title">Découvrez <b>Handistress</b></span>
					<p>
						Handistress est une carte qui adapte votre itinéraire selon votre
						niveau de mobilité et vous propose le trajet le
						plus optimisé pour vous
					</p>
				</div>

				<div class="access-line">
					<span class="glyphicon glyphicon-triangle-top"></span>
				</div>

				<div class="access-logo"> Logo </div>

				<a href="#/map">
					<button type="button" class="btn access-button">  Tracer votre itinéraire </button>
				</a>
			</div>
			<div class="col-md-1 col-lg-1"></div>
		</div>

		<a href="#section1">
			<div class="landing-next btn-lg">
				<span class="glyphicon glyphicon-menu-down next-section-top" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-menu-down next-section" aria-hidden="true"></span>
			</div>
		</a>
	</header>

	<section id="section1" class="landing-info1" style="background-color:rgba(88, 143, 243, 0.38);; height: 60%;">
		<div class="row" style="padding-top:2%;">
			
			<div class="col-md-4 col-lg-4" style="text-align:center;"> 
				12 millions de français handicapés
				<div style="border:1px solid red; height: 45%; width: 50%; margin: auto;">
					<div style="background:red;">
						20 % de la population
					</div>
				</div>
			</div>
			
			<div class="col-md-4 col-lg-4" style="text-align:center;">
				850 000 d'entre eux ont une mobilité réduite
				<div style="border:1px solid red; height: 45%; width: 50%; margin: auto;">
					<div style="background:red;">
						7 % de la population
					</div>
				</div>
			</div>
			

			<div class="col-md-4 col-lg-4" style="text-align:center;">
				8,3 millions de proche s'occupent d'une personne handicapé
				<div style="border:1px solid red; height: 45%; width: 50%; margin: auto;">
					<div style="background:red;">
						13 % de la population
					</div>
				</div>
			</div>
			
		</div>
	</section>
</header>
