<header class="landing-header">
	<div class="row landing-access">
		<div class="col-md-7 col-lg-7"></div>
		
		<div class="col-md-4 col-lg-4">

			<div class="landing-access-line">
				<span class="glyphicon glyphicon-triangle-bottom"></span>
			</div>

			<div class="landing-access-info">
				<span class="access-info-title">
					Découvrez <strong>Handistress</strong>
				</span>
				<p>
					Handistress est une carte qui adapte votre itinéraire selon votre
					niveau de mobilité et vous propose le trajet le
					plus optimisé pour vous
				</p>
			</div>

			<div class="landing-access-line">
				<span class="glyphicon glyphicon-triangle-top"></span>
			</div>


			<div class="landing-access-logo">
				Logo
			</div>

			<a href="#/map">
				<button type="button" class="btn landing-access-button"> Tracer votre itinéraire </button>
			</a>
		</div>

		<div class="col-md-1 col-lg-1"></div>


		<div class="row landing-next-section">
			<div class="col-md-5 col-lg-5"></div>
			<div class="col-md-2 col-lg-2">
				<a href="" ng-click="scrollSection('section1')">
					<span class="glyphicon glyphicon-menu-down next-section-top" aria-hidden="true"></span>
					<span class="glyphicon glyphicon-menu-down next-section" aria-hidden="true"></span>
				</a>
			</div>
			<div class="col-md-5 col-lg-5"></div>
		</div>

	</div>
</header>
<section id="section1" class="landing-statistics"> Chiffres </section>
<section id="section2" class="landing-trace"> Itinéraire </section>
<section id="section3" class="landing-marker"> Ajout de marker </section>
<footer> Footer </footer>