

<div style="float:left;">
	Ceci est la page Map
	<br><br>
	<form ng-submit="traceMap()">
		<input type="text" placeholder="point de départ" ng-model='traceMap.start'>
		<br>
		<input type="text" placeholder="point d'arrivé" ng-model='traceMap.end'>
		<br>
		<input type="submit" value="envoyer">
	</form>

	<div>
		Resultat du itinéraire :
		<br>

	</div>
</div>


<div>
	Filtre Marker
	<br><br>
	<input type='text' ng-model='testFiltre'>
</div>

<div style="float:right; margin-right:20%; height:1000px; background-color:rgba(0, 0, 0, 0.4); overflow:hidden; overflow-y:scroll; overflow-x:hidden;">
	<b style="font-size:20px;">Mes markers</b>
	<div ng-repeat="marker in markers | filter : testFiltre ">
		<p>{{ marker.nameMarker }}</p>
	</div>
</div>