<div ng-include="'views/header/connect-header.html'" ng-controller="headerController"></div>

<nav class="map-menu open">
	<button ng-click="switchForm()">Form trace</button>
	<button ng-click="switchForm()">Form </button>
	<br><br>
	<div ng-switch on="typeForm">
		<form ng-switch-when='test1' ng-submit="traceMap()">
			<input type="text" placeholder="point de départ" list="startPoint" ng-model='traceMap.start' required>
			<datalist id="startPoint">
				<option ng-repeat="marker in getMarkers | filter : {nameMarker : traceMap.start} " value="{{marker.nameMarker}}"/>
			</datalist>
			<br><br>
			<input type="text" placeholder="point d'arrivé" list="endPoint" ng-model='traceMap.end' required>
			<datalist id="endPoint">
				<option ng-repeat="marker in getMarkers | filter : {nameMarker : traceMap.end}  " value="{{marker.nameMarker}}"/>
			</datalist>
			<br><br>
			<input type="submit" value="envoyer">
		</form>

		<form ng-switch-when='test2' ng-submit="searchMap()">
			<input type="text" placeholder="recherche" list="listMarkers" ng-model='searchMap.value' required>
			<br><br>
			<input type="submit" value="rechercher">
		</form>

	</div>

	<div style="margin-top:10%;">
		<div ng-click='seeAll()' ng-class="{'active-filter' : (filter == 1) }">All</div>
		<div ng-click='seePlace()' ng-class="{'active-filter' : (filter == 2) }">Place</div>
		<div ng-click='seeAccess()' ng-class="{'active-filter' : (filter == 3) }">Access</div>
	</div>

</nav>

<leaflet center="center" tiles="tiles" defaults="defaults" event-broadcast="events" markers="markers" height="100%" width="100%" class="map-center"></leaflet>
