<div style="float:left;">
	Ceci est la page Map
	<br><br>
	<form ng-submit="traceMap()">
		<input type="text" placeholder="point de départ" list="startPoint" ng-model='traceMap.start'>
		<datalist id="startPoint">
			<option ng-repeat="marker in markers | filter : traceMap.start " value="{{marker.nameMarker}}"/>
		</datalist>
		<br><br>
		<input type="text" placeholder="point d'arrivé" list="endPoint" ng-model='traceMap.end'>
		<datalist id="endPoint">
			<option ng-repeat="marker in markers | filter : {infoSearch : traceMap.end}  " value="{{marker.nameMarker}}"/>
		</datalist>
		<br><br>
		<input type="submit" value="envoyer">
	</form>
</div>

<div style="margin-left:20%; float:left;">
	<input type="text" ng-model="yourName" placeholder="Entrer votre nom"/><br>
	<ul>
		<li ng-repeat='marker in markers | filter : {infoSearch : yourName}'> {{ marker.nameMarker }} </li>
	</ul>
</div>


<div>
	 <div ng-click='seeAll()'>All</div>
	 <div ng-click='seePlace()'></div>
	 <div ng-click='seeAccess()'></div>
</div>

<div style="float:right; margin-right:20%; height:1000px; background-color:rgba(0, 0, 0, 0.4); overflow:hidden; overflow-y:scroll; overflow-x:hidden;">
	<b style="font-size:20px;">Mes markers</b>
	<div ng-repeat="marker in markers | filter : testFiltre ">
		<p>{{ marker.nameMarker }}</p>
	</div>
</div>
