<section class="form-center">
	<div class="row">
		<div class="col-xs-1 col-md-4 col-md-4"></div>
		<div class="col-xs-10 col-md-4 col-md-4 form-zone">
			<form ng-submit="signUp()">
				<div class="form-title">Se créer un compte <b>Handistress</b> </div>

				<div class="form-step">
					<div class="step-zone">
						<div class="step-done done"></div>
						<div class="step-number step-one">1</div>
					</div>

					<span class="step-line">
						<span class="step-line-progress"></span>
					</span>

					<div class="step-zone">
						<div class="step-done"></div>
						<div class="step-number step-two">2</div>
					</div>

					<span class="step-line">
						<span class="step-line-progress"></span>
					</span>

					<div class="step-zone">
						<div class="step-done"></div>
						<div class="step-number step-three">3</div>
					</div>
				</div>

				<div class="form-step-one">
					<div class="form-input">
						<input ng-model="register.firstname" type="text" placeholder="Prenom">
					</div>

					<div class="form-input">
						<input ng-model="register.lastname" type="text" placeholder="Nom">
					</div>

					<div class="form-input">
						<input ng-model="register.email" type="email" placeholder="Email">
					</div>

					<div class="form-input">
						<input ng-model="register.pwd" type="password" placeholder="Mot de passe">
					</div>

					<div class="form-input">
						<input ng-model="register.pwd2" type="password" placeholder="Confirmer mot de passe">
					</div>

					<div class="form-input">
						<input ng-model="register.birthDate" type="text" placeholder="jj/mm/yyyy">
					</div>

					<div class="form-input">
						Oui<input ng-model="register.handicap" type= "radio" name="handicap" value="oui">
						<br> 
						Non<input ng-model="register.handicap" type= "radio" name="handicap" value="non">
					</div>
				</div>

				<!-- <div class="form-step-two"> -->
					<!-- Ici -->

					<!-- <label for="signup-stairs">Escaliers</label>
					<input ng-model="register.accessStairs" type="checkbox" id="signup-stairs"><br>

					<label for="signup-escalators">Escalators</label>
					<input ng-model="register.accessEscalator" type="checkbox" id="signup-escalators"><br> -->

					<!-- Fin ici -->

					<!-- <label for="signup-flatEscalators">Escalators Plat</label>
					<input ng-model="register.access" type="checkbox" id="signup-flatEscalators"><br> -->

					<!-- <label for="signup-ramp">Rampe</label>
					<input ng-model="register.access" type="checkbox" id="signup-ramp"><br> -->

					<!-- Ici -->
					<!-- <label for="signup-elevator">Ascenseur</label>
					<input ng-model="register.accessElevator" type="checkbox" id="signup-elevator"><br>

					<label for="signup-flatPavement">Trottoir Plat</label>
					<input ng-model="register.accessPavement" type="checkbox" id="signup-flatPavement"><br> -->

					<!-- Fin ici -->

					<!-- <label for="signup-hightPavement">Trottoir Haut</label>
					<input ng-model="register.access" type="checkbox" id="signup-hightPavement" value="7"> -->
				<!-- </div> -->

				<!-- <div clas="form-step-three">
					<label for="crutch">Béquille</label>
					<input ng-model="equipments.crutch" type="checkbox" id="crutch"><br>

					<label for="manualWheelchair">Fauteuil Roulant Manuel</label>
					<input ng-model="equipments.manualWheelchair" type="checkbox" id="manualWheelchair"><br>

					<label for="electricWheelchair">Fauteuil Roulant Électrique</label>
					<input ng-model="equipments.electricWheelchair" type="checkbox" id="electricWheelchair"><br>

					<label for="cane">Canne</label>
					<input ng-model="equipments.cane" type="checkbox" id="cane"><br>

					<label for="walker">Déambulateur</label>
					<input ng-model="equipments.walker" type="checkbox" id="walker"><br>
				</div> -->

				<input type="submit" value="Envoyer">
			</form>
		</div>
		<div class="col-xs-1 col-md-4 col-md-4"></div>
	</div>
<section>
