<div ng-include="'views/header/connect-header.html'" ng-controller="headerController"></div>

<nav class="nav-menu not-open">
	<button class="nav-menu-button"></button>
	<ul class="nav-menu-link">
		<li><a href=" "> <i class="icon-home"></i></a></li>
		<li> <a href="map"><i class="icon-map"></i></a></li>
		<li class="page-active"> <a href="add-marker"><i class="icon-add-marker"></i></a></li>
	</ul>
</nav>

<section>
  <div class="row">
    <div class="col-xs-1 col-md-2 col-lg-2"></div>
    <div class="col-xs-10 col-md-8 col-lg-8 text-center">
      <div class="form-zone">

        <div class="form-switch-button">
          <button ng-click="seePlaceForm()" ng-class="{'form-active' : (formPlace == true)}"> Ajouter un lieu </button>
          <button ng-click="seeAccessForm()" ng-class="{'form-active' : (formAccess == true)}"> Ajouter un accès </button>
        </div>

        <div ng-if="formAccess" class="form-add-zone">
          <div class="form-title">Ajouter un accès</div>
          <form ng-submit="addAccess()">
            <div class="form-input select-zone">
              <select ng-model="markerAccess.access" required>
                <option disabled="disabled" value="null" selected>Choisir type d'accès</option>
                <option ng-repeat="access in listAccess" value="{{access.id}}">{{access.entitled}}</option>
              </select>
            </div>

            <md-input-container class="md-block" flex-gt-sm>
              <label>Nom de l'accès</label>
              <input ng-model="markerAccess.entitled" type="text" required>
              <div class="input-hover"></div>
            </md-input-container>

            <!-- <div class="form-input">
              <input ng-model="markerAccess.entitled" type="text" placeholder="Nom de l'accès" required/>
              <div class="input-hover"></div>
            </div> -->

            <div class="form-input">
              <div class="form-question"> Description de l'accès </div>
              <textarea ng-model="markerAccess.description" placeholder="Description de l'accès"></textarea>
            </div>
            <input class="btn btn-send" type="submit" value="Enregistrer"/>
          </form>
        </div>

        <div ng-if="formPlace" class="form-add-zone">
          <div class="form-title">Ajouter un lieu</div>

          <form ng-submit="addPlace()">
            <div class="form-number-step" ng-class="{'current-step' : (step == 1) }">
              <div class="form-input select-zone">
                <select ng-model="markerPlace.place">
                  <option disabled="disabled" value="null" selected>Choisir type de lieu</option>
                  <option value="2">Ecoles</option>
                  <option value="3">Metro</option>
                  <option value="4">Gare</option>
                  <option value="5">Aéroport</option>
                  <option value="6">Restaurant</option>
                  <option value="7">Boutique</option>
                  <option value="8">Loisir</option>
                  <option value="9">Parking</option>
                  <option value="10">Administration</option>
                  <option value="11">Hébergement</option>
                </select>
              </div>
              
              <md-input-container class="md-block" flex-gt-sm>
                <label>Nom du lieu</label>
                <input ng-model="markerPlace.entitled" type="text" required>
                <div class="input-hover"></div>
              </md-input-container>

              <div class="form-input">
                <div class="form-question"> Description du lieu </div>
                <textarea ng-model="markerPlace.description" placeholder="Description du lieu"></textarea>
              </div>
            </div>

            <div class="form-number-step" ng-class="{'current-step' : (step == 2) }">
				<div ng-repeat="access in listAccess" class="form-input">
					<label class="label-slide" for="addmarker-escalators">{{access.entitled}}</label>
					<label class="check-slide">
						<input ng-model="access.checked" type="checkbox" id="addmarker-escalators"/>
						<div class="slider round"></div>
					</label>
				</div>
			
              <!-- <div class="form-input">
                <label class="label-slide" for="addmarker-stairs">Escalier</label>
                <label class="check-slide">
                  <input ng-model="markerTypeAccess.stairs" type="checkbox" id="addmarker-stairs"/>
                  <div class="slider round"></div>
                </label>
              </div>

              <div class="form-input">
                <label class="label-slide" for="addmarker-escalators">Escalator</label>
                <label class="check-slide">
                  <input ng-model="markerTypeAccess.escalators" type="checkbox" id="addmarker-escalators"/>
                  <div class="slider round"></div>
                </label>
              </div>

              <div class="form-input">
                <label class="label-slide" for="addmarker-flatEscalators">Escalator plat</label>
                <label class="check-slide">
                  <input ng-model="markerTypeAccess.flatEscalators" type="checkbox" id="addmarker-flatEscalators"/>
                  <div class="slider round"></div>
                </label>
              </div>

              <div class="form-input">
                <label class="label-slide" for="addmarker-elevator">Ascenseur</label>
                <label class="check-slide">
                  <input ng-model="markerTypeAccess.elevator" type="checkbox" id="addmarker-elevator"/>
                  <div class="slider round"></div>
                </label>
              </div>

              <div class="form-input">
                <label class="label-slide" for="addmarker-flatPavement">Trottoir plat</label>
                <label class="check-slide">
                  <input ng-model="markerTypeAccess.flatPavement" type="checkbox" id="addmarker-flatPavement"/>
                  <div class="slider round"></div>
                </label>
              </div>

              <div class="form-input">
                <label class="label-slide" for="addmarker-hightPavement">Trottoir haut</label>
                <label class="check-slide">
                  <input ng-model="markerTypeAccess.hightPavement" type="checkbox" id="addmarker-hightPavement"/>
                  <div class="slider round"></div>
                </label>
              </div> -->
            </div>

            <div class="form-number-step" ng-class="{'current-step' : (step == 3) }">
              <div class="form-input">
                <div class="form-question"> Description des entrées / sorties </div>
                <textarea ng-model="markerPlace.complements.accessEnterExit" placeholder="Description des entrées et des sorties"></textarea>
              </div>

              <div class="form-input">
                <label class="label-slide" for="addmarker-toiletAdapt"> Toilettes Adaptées </label>
                <label class="check-slide">
                  <input ng-model="markerPlace.complements.toiletAdapt" type="checkbox" id="addmarker-toiletAdapt"/>
                  <div class="slider round"></div>
                </label>
              </div>

              <div class="form-input">
                <label class="label-slide" for="addmarker-equipmentAdapt">Equipements Adaptés</label>
                <label class="check-slide">
                  <input ng-model="markerPlace.complements.equipmentAdapt" type="checkbox" id="addmarker-equipmentAdapt"/>
                  <div class="slider round"></div>
                </label>
              </div>

              <div class="form-input">
                <label class="label-slide" for="addmarker-handicapGantry">Portique Handicapé</label>
                <label class="check-slide">
                  <input ng-model="markerPlace.complements.handicapGantry" type="checkbox" id="addmarker-handicapGantry"/>
                  <div class="slider round"></div>
                </label>
              </div>

              <div class="form-input">
                <label class="label-slide" for="addmarker-informationOffice">Bureau d'information</label>
                <label class="check-slide">
                  <input ng-model="markerPlace.complements.informationOffice" type="checkbox" id="addmarker-informationOffice"/>
                  <div class="slider round"></div>
                </label>
              </div>

              <div class="form-input">
				Sorties:
				<div class="row" ng-repeat="line in listExits track by $index">
					<div class="col-sm-2">
						<input ng-model="line.number" type="text" placeholder="Numero" style="width: 100%;">
					</div>
					<div class="col-sm-10">
						<input ng-model="line.address" type="text" placeholder="Addresse" style="width: 100%;">
					</div>
					<div class="col-sm-10">
						<label>Accès handicapé <input ng-model="line.handicap" type="checkbox"></label>
					</div>
					<div class="col-sm-2">
						<span ng-click="removeLE($index)">X</span>
					</div>
				</div>
				<span ng-click="addLE()">Ajouter une ligne</span>
              </div>

              <div class="form-input">
				Lignes de métro:
				<div ng-repeat="line in subwayLines track by $index">
					<input ng-model="line.value" type="text" placeholder="Numero de ligne Metro"> <span ng-click="removeSL($index)">X</span>
				</div>
				<span ng-click="addSL()">Ajouter une ligne</span>
			  </div>
			  
              <!-- <div class="form-input">
                <input ng-model="markerPlace.complements.subwayLine" type="text" placeholder="Numero de ligne Metro">
              </div> -->
            </div>

			  <input ng-if="valuePreviousStep" ng-click="previousStep()" class="btn btn-step" type="button" value="Etape Précédente">
						<input ng-if="valueNextStep" ng-click="nextStep()" class="btn btn-step" type="button" value="Etape Suivante">
			  <input ng-if="sendForm && addOrEdit == 'add'" class="btn btn-send" type="submit" value="Enregistrer"/>
			  <input ng-if="sendForm && addOrEdit == 'edit'" class="btn btn-send" type="submit" value="Modifier"/>
			  <span ng-if="addOrEdit == 'edit'">
				<br />
				<input ng-click="cancelEdit()" class="btn btn-step" type="button" value="Annuler"/>
			  </span>
			</form>
        </div>
      </div>
    </div>
    <div class="col-xs-1 col-md-2 col-lg-2"></div>
  </div>
</section>
<div class="info-odl-markers">
  <div class="info-marker-title"> Voici les marqueurs dejà indiqué dans un rayon de 400 m</div>
  <div class="list-marker">
    <div ng-click="openMarker(marker.markerId)" ng-repeat="marker in markersProx" class="info-marker">{{marker.nameMarker}}<br />{{marker.descriptionMarker}}</div>
  </div>
</div>
