/*Style general*/
@font-face {
  font-family: 'FuturaStd-Medium';
  src: url(fonts/FuturaStd-Medium.eot) format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaStd-Medium';
  src:  url(fonts/FuturaStd-Medium.otf) format('opentype'),
  		url(fonts/FuturaStd-Medium.ttf) format('truetype'),
  		url(fonts/FuturaStd-Medium.svg#FuturaStd-Medium) format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?q1ryka');
  src:  url('fonts/icomoon.eot?q1ryka#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?q1ryka') format('truetype'),
    url('fonts/icomoon.woff?q1ryka') format('woff'),
    url('fonts/icomoon.svg?q1ryka#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-racing .path1:before {
  content: "\e905";
  color: rgb(230, 233, 237);
}
.icon-racing .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(67, 74, 84);
}
.icon-racing .path3:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(67, 74, 84);
}
.icon-racing .path4:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(230, 233, 237);
}
.icon-racing .path5:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(67, 74, 84);
}
.icon-racing .path6:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(230, 233, 237);
}
.icon-racing .path7:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(230, 233, 237);
}
.icon-racing .path8:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(237, 85, 100);
}
.icon-racing .path9:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(67, 74, 84);
}
.icon-racing-1 .path1:before {
  content: "\e90e";
  color: rgb(56, 69, 79);
}
.icon-racing-1 .path2:before {
  content: "\e90f";
  margin-left: -1em;
  color: none;
}
.icon-racing-1 .path3:before {
  content: "\e910";
  margin-left: -1em;
  color: none;
}
.icon-racing-1 .path4:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-racing-1 .path5:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-racing-1 .path6:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-racing-1 .path7:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-racing-1 .path8:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-racing-1 .path9:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(56, 69, 79);
}
.icon-racing-1 .path10:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(230, 231, 232);
}
.icon-racing-1 .path11:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(56, 69, 79);
}
.icon-racing-1 .path12:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(230, 231, 232);
}
.icon-racing-1 .path13:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(56, 69, 79);
}
.icon-racing-1 .path14:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(230, 231, 232);
}
.icon-racing-1 .path15:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(56, 69, 79);
}
.icon-racing-1 .path16:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(230, 231, 232);
}
.icon-racing-1 .path17:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(56, 69, 79);
}
.icon-racing-1 .path18:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(230, 231, 232);
}
.icon-map-trace:before {
  content: "\e901";
}
.icon-map-sign:before {
  content: "\e902";
}
.icon-add-marker:before {
  content: "\e903";
}
.icon-map-marker:before {
  content: "\e904";
}
.icon-home:before {
  content: "\e900";
}
.icon-location:before {
  content: "\e947";
}
.icon-location2:before {
  content: "\e948";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-checkbox-unchecked:before {
  content: "\ea53";
}

body{
	font-family: 'FuturaStd-Medium';
}


.row{
	margin: 0px;
}

li{
  list-style: none;
}


/**************************
*** Bouton de connexion ***
**************************/
.connect-button{
  padding-top: 1%;
}

.connect-button .btn-connect{
  font-size: 17px;
  background-color: transparent;
  border-radius: 0px;
  width: 200px;
  height: 40px;
}

.connect-button .btn-signUp{
  background-color: #5896a7;
  border: 2px solid #96d2e3;
  color: #ffffff;
  float: left;
}

.connect-button .btn-signIn{
  border: 2px solid #447887;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.5);
  float: right;
}