<nav class="navbar navbar-inverse navbar-default" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="./">HandiStress</a>
	</div>
	<div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
		<ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li><a href="#">Link2</a></li>
      </ul>
	</div>
</nav>