/*************************
*** Zone du formulaire ***
*************************/
.form-zone{
	width: 65%;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 20px;
	color: #ffffff;
	margin-top: 10%;
}

.form-zone .form-title{
	color: #498da1;
	font-size: 30px;
	padding-top: 3%;
	padding-bottom: 2%;
}

.form-zone .form-title b{ font-style: italic; }

.form-zone .form-switch-button button {
	width: 30%;
	border: none;
	border-radius: 0px;
	font-size: 17px;
	margin-top: 2%;
	background-color: rgba(28, 147, 166, 0.4);
}

.form-zone .form-switch-button button:first-child{ margin-right: 4%;}
.form-zone .form-switch-button button.form-active{background-color: #155f8b;}


/***********************
*** Etape non validé ***
***********************/
.form-zone .form-step { padding-bottom: 2%;}

.form-zone .form-step .step-zone{
	width: 50px;
  height: 50px;
  font-size: 23px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  background: rgba(28, 147, 166, 0.4);
}

.form-zone .form-step .step-zone .step-done{
	top: 0;
	left: 0;
  width: 0%;
  position: absolute;
  height: 100%;
	background-color: #155f8b;
}

.form-zone .form-step .step-line{
	width: 15%;
	height: 2px;
	overflow: hidden;
	margin-left: -4px;
	margin-right: -4px;
	margin-bottom: 23px;
	display: inline-block;
	background: rgba(28, 147, 166, 0.4);
}

.form-zone .form-step .step-line .step-line-progress{
	width: 0%;
	height: 2px;
	background-color: #155f8b;
	display: block;
}

.form-step .step-zone .step-number{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px;
	position: absolute;
}

/***********************
*** Si etape valider ***
***********************/
.form-center .form-zone .form-step .step-zone .step-done.done{ width: 100%; }
.form-center .form-zone .form-step .step-line .step-line-progress.done{ width: 100%; }


/*****************
*** Zone input ***
*****************/
.form-zone .form-number-step { display: none; }
.form-zone .form-number-step.current-step { display:block; }

.form-zone .step-title {
	font-size: 19px;
	color: #155f8b;
	padding-bottom: 3%;
	text-decoration: underline;
}

.form-zone .form-input { margin-bottom: 2%; }
.form-zone .form-input .label-slide{
	color: #155f8b;
	width: 20%;
	text-align: left;
	cursor: pointer;
}

.form-zone .form-input input, select, textarea{
	border: none;
	color: #ffffff;
	text-align: center;
	background-color: rgba(16, 17, 17, 0.5);
}

.form-zone .form-input input[type="text"], input[type="email"], input[type="password"], select, textarea{
	width: 50%;
	height: 30px;
}

.form-zone .form-input select{ text-indent: 30%; }

.form-zone .form-input textarea{
	height: 130px;
	text-align: left;
}


.form-zone .form-input .input-hover{
	width: 0%;
	height: 2px;
	margin-left: 25%;
	background-color: #155f8b;
}

.form-zone .form-input .form-question {
	font-size: 15px;
	color: #0b4a6f;
	width: 51%;
	margin: auto;
	text-align: left;
}

.form-zone .form-input .form-question span {font-family: arial;}
.form-zone .form-input .form-radio{ color: #0b4a6f; }
.form-zone .form-input .form-radio input{ margin-left: 5px; }


/**********************
*** Hover sur input ***
**********************/
.form-zone .form-input:hover .input-hover{width: 50%;}

/************************
*** checkbox to slide ***
************************/
.check-slide {
	position: relative;
    display: inline-block;
    width: 35px;
    height: 13px;
    margin: 0;
}

/* Hide default HTML checkbox */
.check-slide input { display:none; }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #ffffff;
  /*background-color: #ccc;*/
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
    height: 9px;
    width: 9px;
    left: 2px;
    bottom: 1px;
    background-color: #003b54;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider { background-color: #3fc0f0; }

input:focus + .slider { box-shadow: 0 0 1px #2196F3; }

input:checked + .slider:before {
	-webkit-transform: translateX(19px);
	-ms-transform: translateX(19px);
	transform: translateX(19px);
}

/* Rounded sliders */
.slider.round { border-radius: 34px; }

.slider.round:before { border-radius: 50%; }

/*****************************
*** Bouton des formulaires ***
*****************************/
.form-zone .btn{
	width: 25%;
	border: none;
	border-radius: 0px;
	font-size: 15px;
	margin-bottom: 5%;
}

.form-zone .btn-send{ background-color: rgba(21, 95, 139, 1); }
.form-zone .btn-step{ background-color: rgba(7, 173, 199, 1); }

/******************************
*** Bouton formulaire hover ***
******************************/
.form-zone .btn:hover{ color:#ffffff;}
