body{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(../img/street.jpg);
}

/*************************
*** Zone du formulaire ***
*************************/
.form-zone{
	margin: auto;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 20px;
	color: #ffffff;
	margin-bottom: 2%;
}

.form-zone .form-title{ color: #498da1; }
.form-zone .form-title b{ font-style: italic; }

.form-zone .form-switch-button button {
	width: 30%;
	border: none;
	border-radius: 0px;
	font-size: 17px;
	margin-top: 2%;
	background-color: rgba(28, 147, 166, 0.4);
}

.form-zone .form-switch-button button:first-child{ margin-right: 4%;}
.form-zone .form-switch-button button.form-active{background-color: #155f8b;}


/***********************
*** Si etape valider ***
***********************/
.form-zone .form-step .step-zone .step-done.done{ width: 100% }
.form-zone .form-step .step-line .step-line-progress.done{ width: 100%; }


/***********************
*** Etape non validé ***
***********************/
.form-zone .form-step { padding-bottom: 2%;}

.form-zone .form-step .step-zone{
	position: relative;
	border-radius: 50%;
	overflow: hidden;
	display: inline-block;
	background: rgba(28, 147, 166, 0.4);
}

.form-zone .form-step .step-zone .step-done{
	top: 0;
	left: 0;
	width: 0%;
	position: absolute;
	height: 100%;
	background-color: #155f8b;
}

.form-zone .form-step .step-line{
	height: 2px;
	overflow: hidden;
	margin-left: -4px;
	margin-right: -4px;
	display: inline-block;
	background: rgba(28, 147, 166, 0.4);
}

.form-zone .form-step .step-line .step-line-progress{
	width: 0%;
	height: 2px;
	background-color: #155f8b;
	display: block;
}

.form-step .step-zone .step-number{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}

/********************************
*** Execption pour DatePicker ***
********************************/
.md-datepicker-input-container{
    width: 40%;
    background-color: rgba(16, 17, 17, 0.5);
} 

.md-datepicker-input{
	width: 100%;
    position: relative;
    top: 4px;
    background-color: rgba(16, 17, 17, 0) !important;
}

/*****************
*** Zone input ***
*****************/
.form-zone .form-number-step { display: none; }
.form-zone .form-number-step.current-step { display:block; }

.form-zone .step-title {
	color: #155f8b;
	padding-bottom: 3%;
	text-decoration: underline;
}

.form-zone .md-block { margin:auto; }
.form-zone .form-input { margin-bottom: 2%;}
.form-zone .form-input.select-zone{ margin-bottom: 5%; }
.form-zone .md-block label { margin-bottom: 2px; }

.form-zone .form-input .label-slide{
	color: #155f8b;
	text-align: left;
	cursor: pointer;
}

.form-zone .form-input input, select, textarea, .form-zone .md-block input, select, textarea{
	border: none;
	color: #ffffff;
	text-align: center;
	background-color: rgba(16, 17, 17, 0.5);
}

.form-zone .form-input input[type="text"], .form-zone .form-input input[type="email"], .form-zone .form-input input[type="password"], .form-zone .form-input select, .form-zone .form-input textarea{
	width: 50%;
	height: 30px;
}

.form-zone .form-input select{ text-indent: 30%; }

.form-zone .form-input textarea{
	height: 130px;
	text-align: left;
}

.form-zone .form-input .input-hover, .form-zone .md-block .input-hover{
	width: 0%;
	height: 2px;
	margin-left: 25%;
	background-color: #155f8b;
}

.form-zone .md-block .input-hover{ margin-left: 0px; margin-top: 30px; }

.form-zone .form-input .form-question {
	font-size: 15px;
    color: #0b4a6f;
    margin: auto;
    text-align: left;
    margin-bottom: 1%;
    text-decoration: underline;
}

.form-zone .form-input .form-question span {font-family: arial;}
.form-zone .form-input label{ cursor: pointer; }
.form-zone .form-input .form-radio{ color: #0b4a6f; }
.form-zone .form-input .form-radio input{ margin-left: 5px; }



/**********************
*** Hover sur input ***
**********************/
.form-zone .form-input:hover .input-hover{width: 50%;}
.form-zone .md-block:hover .input-hover{width: 100%;}

/************************
*** checkbox to slide ***
************************/
.check-slide {
	position: relative;
    display: inline-block;
    width: 35px;
    height: 13px;
    margin: 0;
}

/* Hide default HTML checkbox */
.check-slide input { display:none; }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #ffffff;
  /*background-color: #ccc;*/
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
    height: 9px;
    width: 9px;
    left: 2px;
    bottom: 1px;
    background-color: #003b54;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider { background-color: #3fc0f0; }

input:focus + .slider { box-shadow: 0 0 1px #2196F3; }

input:checked + .slider:before {
	-webkit-transform: translateX(19px);
	-ms-transform: translateX(19px);
	transform: translateX(19px);
}

/* Rounded sliders */
.slider.round { border-radius: 34px; }

.slider.round:before { border-radius: 50%; }

/*****************************
*** Bouton des formulaires ***
*****************************/
.form-zone .btn{
	width: 25%;
	border: none;
	border-radius: 0px;
	font-size: 15px;
	margin-bottom: 5%;
}

.form-zone .btn-send{ background-color: rgba(21, 95, 139, 1); }
.form-zone .btn-step{ background-color: rgba(7, 173, 199, 1); }

/******************************
*** Bouton formulaire hover ***
******************************/
.form-zone .btn:hover{ color:#ffffff;}



/****************************
*** Style spécifique size ***
****************************/

/*******************************
*** Superieur ou egal à 1140 ***
*******************************/
@media (min-width: 1140px) {
	.form-zone{ width: 65%; margin-top: 10%; }
	.form-zone .form-title{ font-size: 30px; padding-top: 3%; padding-bottom: 2%; }

	.form-zone .form-step .step-zone{ width: 50px; height: 50px; font-size: 23px; }
	.form-zone .form-step .step-line{ width: 15%; margin-bottom: 23px; }
	.form-step .step-zone .step-number{ padding: 10px; }

	.form-zone .step-title { font-size: 19px; }

	.form-zone .md-block { width: 50%; }
	.form-zone .form-input .label-slide{ width: 35%; }
	.form-zone .form-input .form-question { width: 51%; }

	.form-zone .btn{ width: 30%; font-size: 15px; }
}

@media (min-width: 992px) and (max-width: 1139px) {
	.form-zone{ width: 65%; margin-top: 10%; }
	.form-zone .form-title{ font-size: 30px; padding-top: 3%; padding-bottom: 2%; }

	.form-zone .form-step .step-zone{ width: 50px; height: 50px; font-size: 23px; }
	.form-zone .form-step .step-line{ width: 15%; margin-bottom: 23px; }
	.form-step .step-zone .step-number{ padding: 10px; }

	.form-zone .step-title { font-size: 19px; }

	.form-zone .md-block { width: 50%; }
	.form-zone .form-input .label-slide{ width: 35%; }
	.form-zone .form-input .form-question { width: 51%; }

	.form-zone .btn{ width: 30%; font-size: 15px; }
}

@media (min-width: 768px) and (max-width: 991px){
	.form-zone{ width: 90%; margin-top: 12%; }
	.form-zone .form-title{ font-size: 25px; padding-top: 3%; padding-bottom: 2%; }

	.form-zone .form-step .step-zone{ width: 40px; height: 40px; font-size: 23px; }
	.form-zone .form-step .step-line{ width: 12%; margin-bottom: 23px; }
	.form-step .step-zone .step-number{ padding: 6px; }

	.form-zone .step-title { font-size: 19px; }

	.form-zone .md-block { width: 50%; }
	.form-zone .form-input .label-slide{ width: 35%; }
	.form-zone .form-input .form-question { width: 51%; }

	.form-zone .btn{ width: 30%; font-size: 15px; }	
}

@media (min-width: 576px) and (max-width: 767px){
	.form-zone{ width: 100%; margin-top: 15%; }
	.form-zone .form-title{ font-size: 25px; padding-top: 3%; padding-bottom: 2%; }

	.form-zone .form-step .step-zone{ width: 30px; height: 30px; font-size: 16px; }
	.form-zone .form-step .step-line{ width: 12%; margin-bottom: 14px; }
	.form-step .step-zone .step-number{ padding: 3px; }

	.form-zone .step-title { font-size: 19px; }

	.form-zone .md-block { width: 50%; }
	.form-zone .form-input .label-slide{ width: 35%; }
	.form-zone .form-input .form-question { width: 60%; }

	.form-zone .btn{ width: 30%; font-size: 15px; }
}

@media (max-width: 575px){
	.form-zone{ width: 100%; margin-top: 30%; }
	.form-zone .form-title{ font-size: 25px; padding-top: 3%; padding-bottom: 2%; }

	.form-zone .form-step .step-zone{ display: none; }
	.form-zone .form-step .step-line{ display: none; }
	.form-step .step-zone .step-number{ display: none; }

	.form-zone .step-title { font-size: 19px; }

	.form-zone .md-block { width: 85%; top:10px; }
	.form-zone .form-input .label-slide{ width: 35%; }
	.form-zone .form-input .form-question { width: 85%; }

	.form-zone .form-input select, .form-zone .form-input textarea{ width: 85% }

	.form-zone .btn{ width: 40%; font-size: 13px; }
}