/*********************************
*** Style général Landing Page *** 
*********************************/

/**********************
*** Landing Header  ***
**********************/
.landing-header{
	height: 90vh;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	background-image: url(../img/landing.jpg);
}

.landing-header .landing-access{
	color:#ffffff;
	padding-top: 6%;
	text-align: center;
}

.landing-header .landing-access .landing-access-line{ width: 100%; }
.landing-header .landing-access .landing-access-line:first-child{ border-top: 2px solid #ffffff }
.landing-header .landing-access .landing-access-line:nth-child(3){ border-bottom: 2px solid #ffffff }

.landing-header .landing-access .landing-access-line .glyphicon{ 
	display: block;
	font-size: 20px;
}
.landing-header .landing-access .landing-access-line .glyphicon:first-child{ margin-top: -6px; }
.landing-header .landing-access .landing-access-line .glyphicon:last-child{ margin-bottom: -4px; }

.landing-header .landing-access .landing-access-info{ 
	font-size: 18px;
	margin-top: 5%;
	margin-bottom: 5%;
}

.landing-header .landing-access .landing-access-info .access-info-title{ font-size: 35px;}
.landing-header .landing-access .landing-access-info p { margin-top: 5%; }

.landing-header .landing-access .landing-access-logo {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: rgba(8, 149, 158, 0.4);;
	margin: auto;
	margin-top: 10%;
	padding-top: 6%
}

.landing-header .landing-access .landing-access-button{
	background-color: rgba(33, 87, 131, 0.6);
	color:#ffffff;
	width: 75%;
	margin-top: 10%;
	font-size: 30px;
	transition-duration: 0.5s;
}

.landing-header .landing-access .landing-access-button:hover{ background-color: rgba(8, 149, 158, 1); }

.landing-header .landing-access .landing-next-section{
	position: absolute;
	width: 100%;
	bottom: 5%;
}

.landing-header .landing-access .landing-next-section a{
	width: 90px;
	height: 90px;
	margin: auto;
	color: #ffffff;
	display: block;
	overflow: hidden;
	border-radius: 50%;
	background-color: rgba(34, 90, 137, 0.3);
	border: 2px solid rgba(255, 255, 255, 0.6);
	-webkit-transition: all .6s cubic-bezier(.12, .79, .38, .99);
	transition: all .6s cubic-bezier(.12, .79, .38, .99);
}


.landing-header .landing-access .landing-next-section a .glyphicon{	font-size: 45px; }


.landing-header .landing-access .landing-next-section .next-section-top{
	-webkit-transform: translate(-0%, -150%);
	-ms-transform: translate(-0%, -150%);
	transform: translate(-0%, -150%);
	-webkit-transition: all .6s cubic-bezier(.12, .79, .38, .99);
	transition: all .6s cubic-bezier(.12, .79, .38, .99);
}

.landing-header .landing-access .landing-next-section .next-section{
	-webkit-transform: translate(0%, -65%);
	-ms-transform: translate(0%, -65%);
	transform: translate(0%, -65%);
	-webkit-transition: all .6s cubic-bezier(.12, .79, .38, .99);
	transition: all .6s cubic-bezier(.12, .79, .38, .99);
}


.landing-header .landing-access .landing-next-section a:hover{
	background-color: rgba(34, 90, 137, 1);
	border: 2px solid rgba(255, 255, 255, 1); 
}
.landing-header .landing-access .landing-next-section a:hover .next-section-top{ transform: translate(-0%, 45%); }
.landing-header .landing-access .landing-next-section a:hover .next-section{ transform: translate(-0%, 110%); }

/*****************************
*** Section 1 Landing Page *** 
*****************************/

.landing-statistics{
	height: 60vh;
	background-color: #225A89;
}

/*****************************
*** Section 2 Landing Page *** 
*****************************/

.landing-trace{
	height: 60vh;
	background-color: #ACC6D7;
}


/*****************************
*** Section 3 Landing Page *** 
*****************************/
.landing-marker{
	height: 60vh;
	background-color: #ffffff;
}


/****************************
*** Style spécifique size ***
****************************/