/**************************
*** style pour la carte ***
**************************/
.map-center{
  top:0;
  left:0;
  bottom:0;
  width:100%;
  height:100%;
  position:fixed;
}


/*****************************************
*** Style pour le formulaire de la map ***
*****************************************/
.nav-menu .switch-form-map{
	color: #ffffff;
    text-align: center;
    margin-top: 9%;
}

.nav-menu .switch-form-map button {
	width: 145px;
    font-size: 16px;
    padding-top: 2%;
    font-style: italic;
    padding-bottom: 2%;
    margin-bottom: 30px;
    border: 1px solid #368093;
    background-color: rgba(236, 236, 236, 0.3);
    /* height: 30px; */
    /*width: 30%;
    border: none;
    border-radius: 0px;
    font-size: 17px;
    margin-top: 2%;
    background-color: rgba(255, 255, 255, 0.4);*/
}
.nav-menu .switch-form-map button.form-active{ background-color: #155f8b;}

.nav-menu .form-map{ padding-left: 2%; }

.nav-menu .form-map .title-form-map{
	width: 62%;
  color: #ffffff;
  font-size: 20px;
  padding-bottom: 2%;
  border-bottom: 1px solid #ffffff;
}

.nav-menu .form-map label{
	color: #75cff0;
  font-size: 40px;
}

.nav-menu .form-map .btn-send{
  margin: auto;
  display: block;
}

/*************************************
*** Style pour le filtre de la map ***
*************************************/
.map-filter{
  width: 59%;
  position: absolute;
  bottom: 3%;
  right: 4%;
  height: 75px;
  background-color: rgba(16, 124, 154, 0.5);
}

.map-filter button{
  width: 50px;
  height: 100%;
  border: none;
  border-left: 5px solid #ffffff;
  background-color: rgba(16, 124, 154, 0.5);
  float: left;
}

.map-filter .map-filter-type{
  width: 45%;
  height: 100%;
  float: left;
  display: block;
}

.map-filter .map-filter-type .name-filter{
  float: left;
  height: 100%;
  width: 33.33%;
  font-size: 18px;
  padding-top: 22px;
  text-align: center;
  cursor: pointer;
}


.map-filter .map-filter-type .name-filter.filter-active{ background-color: rgba(255, 255, 255, 0.5); }