/**************************
*** style pour la carte ***
**************************/
.map-center{
  top:0;
  left:0;
  bottom:0;
  width:100%;
  height:100%;
  position:fixed;
}

/** permet de cacher le container d'itinéraire **/
.leaflet-routing-container-hide{ display: none !important; }


/*****************************************
*** Style pour le formulaire de la map ***
*****************************************/
.nav-menu .switch-form-map{
	color: #ffffff;
  text-align: center;
}

.nav-menu .switch-form-map button {
	width: 45%;
  font-size: 16px;
  padding-top: 2%;
  font-style: italic;
  padding-bottom: 2%;
  margin-bottom: 30px;
  border: 1px solid #368093;
  background-color: rgba(236, 236, 236, 0.3);
}
.nav-menu .switch-form-map button.form-active{ background-color: #155f8b;}

.nav-menu .form-map{ padding-left: 5%; }

.nav-menu .form-map .title-form-map{
  width: 90%;
  color: #ffffff;
  font-size: 18px;
  padding-bottom: 2%;
  border-bottom: 1px solid #ffffff;
}

.nav-menu .form-map label{ color: #75cff0; font-size: 40px; }
.nav-menu .form-map label span{ position: relative; top: 10px; }

.nav-menu .form-map .form-text{
  width: 100%;
  border: none;
  margin-left: 15px;
  border-radius: 0;
  border-bottom: 2px solid #155f8b;
  background-color: rgba(255, 255, 255, 0.5) !important;
}    

.nav-menu .form-map .subtitle-form-map{
  width: 90%;
  margin-top: 5%;
  margin-bottom: 5%;
  color: #ffffff;
  font-size: 18px;
  padding-bottom: 2%;
  border-bottom: 1px solid #ffffff;
}
.nav-menu .form-map .subtitle-form-map span{ font-weight: italic; font-size: 15px;}

.nav-menu .form-map select{
  color: #000000;
  width: 95%;
  padding-left: 20%;
  font-size: 16px;
  margin-bottom: 10%;
  height: 35px;
  background-color: rgba(255,255,255,0.5);

}

.nav-menu .form-map .form-input{ margin-bottom: 5%;}
.nav-menu .form-map .form-input label{
  font-size: 16px;
  color: #ffffff;
  margin-left: 10%;
  cursor: pointer;
}

.nav-menu .form-map .btn-send{
  margin: auto;
  display: block;
  width: 85%;
  color: #ffffff;
  border: 1px solid #297184;
  background-color: #19607d;
  font-size: 20px;
  font-style: italic;
  box-shadow: 5px 4px 11px rgba(0, 0, 0, 0.4);
  margin-top: 20px;
}

/**********************************
*** Style pour le popin markers ***
***********************************/
.marker-information{
  position: absolute;
  z-index: 200;
  right: 2%;
  top: 25%;
  background: rgba(255, 255, 255, 0.8);
  width: 20%;
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.marker-information .row{ margin-right: -15px; margin-left: -15px; }

.marker-information .marker-title{
  font-size: 18px;
  color: #ffffff;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  background-color: rgba(73, 141, 161, 0.8);
}

.marker-information .marker-title span{
  float: right;
  margin-right: 3%;
  font-size: 15px;
  cursor: pointer;
}

.marker-information .marker-info-group{
  margin-bottom: 5%;
  padding-left: 5%;
  border-bottom: 1px solid #0f8dbb;
  padding-bottom: 4%;
  padding-top: 2%;
}

.marker-information .marker-info-group:last-child{ border: none; }

.marker-information .marker-info-group .info-title{
  font-size: 16px;
  color: #084056;
}

.marker-information .marker-info-group p{
  font-size: 15px;
  font-style: italic;
  padding-right: 5%;
}

.marker-information .marker-info-group span{
  float: right;
  margin-right: 15%;
}

.marker-information .marker-info-group .icon-checkbox-check{ color:#75cff0; font-size: 25px;}
.marker-information .marker-info-group .icon-checkbox-unchecked{ color:#3296bb; margin-right: 16%; font-size: 21px; }


.marker-information .marker-info-group .subway-popin{
  float: left;
  width: 30px;
  height: 30px;
  color:#ffffff;
  margin-top: 5px;
  margin-right: 5%;
  padding-top: 5px;
  border-radius: 50%;
  text-align: center;
  font-family: arial, sans-serif;
  font-style: normal;
}


.marker-information .marker-info-group .subway-popin.line1{ background-color: #ffcd00 ;}
.marker-information .marker-info-group .subway-popin.line2{ background-color: #003ca6 ;}
.marker-information .marker-info-group .subway-popin.line3{ background-color: #837902 ;}
.marker-information .marker-info-group .subway-popin.line4{ background-color: #cf009e ;}
.marker-information .marker-info-group .subway-popin.line5{ background-color: #ff7e2e ;}
.marker-information .marker-info-group .subway-popin.line6{ background-color: #6eca97 ;}
.marker-information .marker-info-group .subway-popin.line7{ background-color: #fa9aba; }
.marker-information .marker-info-group .subway-popin.line8{ background-color: #e19bdf ;}
.marker-information .marker-info-group .subway-popin.line9{ background-color: #b6bd00 ;}
.marker-information .marker-info-group .subway-popin.line10{ background-color: #c9910d ;}
.marker-information .marker-info-group .subway-popin.line11{ background-color: #704b1c ;}
.marker-information .marker-info-group .subway-popin.line12{ background-color: #007852 ;}
.marker-information .marker-info-group .subway-popin.line13{ background-color: #6ec4e8 ;}
.marker-information .marker-info-group .subway-popin.line14{ background-color: #62259d ;}

.marker-information .marker-info-group .subway-popin.lineRER { width: 60px; border-radius: 5px;}
.marker-information .marker-info-group .subway-popin.lineRER.A { background-color: #D1302F; }
.marker-information .marker-info-group .subway-popin.lineRER.B { background-color: #427DBD; }
.marker-information .marker-info-group .subway-popin.lineRER.C { background-color: #FCD946; }
.marker-information .marker-info-group .subway-popin.lineRER.D { background-color: #5E9620; }
.marker-information .marker-info-group .subway-popin.lineRER.E { background-color: #BD76A1; }

/*************************************
*** Style pour le filtre de la map ***
*************************************/
.map-filter{
  position: absolute;
  bottom: 3%;
  right: 4%;
  height: 75px;
  background-color: rgba(16, 124, 154, 0.5);
}

.map-filter button{
  height: 100%;
  border: none;
  border-left: 5px solid #ffffff;
  background-color: rgba(16, 124, 154, 0.5);
  float: left;
}

/**********************
*** Filtre map fermé ***
***********************/
.map-filter {width: 7%;}
.map-filter button{ width: 100%; }
.map-filter .map-filter-type{ display: none;  }
.map-filter .map-filter-categorie{ display: none; }

/************************
*** Filtre map ouvert ***
************************/
.map-filter.filter-open{ width: 59%; }
.map-filter.filter-open button{ width: 10%; }


/*******************
*** Type de lieu ***
********************/
.map-filter.filter-open .map-filter-type{
  width: 40%;
  height: 100%;
  float: left;
  display: block;
}

.map-filter.filter-open .map-filter-type .name-filter{
  float: left;
  height: 100%;
  width: 33.33%;
  font-size: 18px;
  padding-top: 22px;
  text-align: center;
  cursor: pointer;
}

.map-filter.filter-open .map-filter-type .name-filter.filter-active{ background-color: rgba(255, 255, 255, 0.5); }

/*****************
*** Categories ***
*****************/
.map-filter.filter-open .map-filter-categorie{
  width: 50%;
  height: 100%;
  float: left;
  display: block;
}

.map-filter.filter-open .map-filter-categorie div{ float: left; }

.map-filter.filter-open .map-filter-categorie .title-categorie{
  width: 30%;
  height: 100%;
  font-size: 23px;
  padding-top: 22px;
  text-align: center;
  border-left: 1px solid #ffffff;
  background-color: rgba(16, 124, 154, 0.5);
}

.map-filter.filter-open .map-filter-categorie .see-categorie{ width: 70%; height: 100%; }
.map-filter.filter-open .map-filter-categorie .see-categorie .see-categorie-select{ height: 100%; width: 50%; }

.map-filter.filter-open .map-filter-categorie .see-categorie .see-categorie-select select{
  width: 100%;
  height: 100%;
  font-size: 18px;
  padding-left: 10%;
  background-color: transparent;
  border-left: 2px solid #ffffff;
  color: #000000;
}