@font-face {
  font-family: 'FuturaStd-Medium';
  src: url(fonts/FuturaStd-Medium.eot) format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaStd-Medium';
  src:url(fonts/FuturaStd-Medium.otf) format('opentype'),
  		url(fonts/FuturaStd-Medium.ttf) format('truetype'),
  		url(fonts/FuturaStd-Medium.svg#FuturaStd-Medium) format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ue31pc');
  src:  url('fonts/icomoon.eot?ue31pc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ue31pc') format('truetype'),
    url('fonts/icomoon.woff?ue31pc') format('woff'),
    url('fonts/icomoon.svg?ue31pc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-local_parking:before { content: "\e54f"; }
.icon-restaurant:before { content: "\e904"; }
.icon-school:before { content: "\e900"; }
.icon-plane:before { content: "\f072"; }
.icon-bed:before { content: "\e901"; }
.icon-subway:before { content: "\e902"; }
.icon-newspaper:before { content: "\e905"; }
.icon-dice:before { content: "\e915"; }
.icon-cart:before { content: "\e93a"; }
.icon-airplane:before { content: "\e9af"; }

body{ font-family: 'FuturaStd-Medium';}

.row{ margin: 0px; }

li{ list-style: none; }


/****************************************
*** Bouton de connexion / inscription ***
****************************************/
.connect-button{
  position: absolute;
  width: 58%;
  margin-top: 1%;
  z-index: 100;
  right: 0;
  margin-right: 3%;
}

.connect-button .btn-connect{
  font-size: 16px;
  border-radius: 0px;
  width: 160px;
  background-color: transparent;
}

.connect-button .btn-signUp{
  background-color: rgba(88, 150, 167, 0.5);
  border: 2px solid #96d2e3;
  color: #ffffff;
  float: left;
}

.connect-button .btn-signIn{
  border: 2px solid #447887;
  color: #000000;
  float: right;
}

.connect-button .btn-signIn.correct-color{ color:#ffffff;}

.connect-button .btn-signUp:hover{ background-color: rgba(88, 150, 167, 1); }
.connect-button .btn-signIn:hover{ background-color: rgba(255,255, 255, 0.6); color:#000000; }


/***************************************************
*** Filtre pour afficher formulaire de connexion ***
***************************************************/
.fitler{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  position: fixed;
  background-color: rgba(0, 0 , 0, 0.6);
}

.form-zone.connect-zone{
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  margin-top: 25%;
}

.form-zone.connect-zone button{
  border: none;
  width: 50px;
  height: 50px;
  float: right;
  color: #498da1;
  font-size: 25px;
  margin-top: -20px;
  margin-right: -20px;
  border-radius: 50%;
  background-color: #060606;
}

.form-zone.connect-zone button:hover{
  background-color: #498da1;
  color: #ffffff;
}
.form-zone.connect-zone button span{ top:4px; }

.form-zone.connect-zone .connect-zone-title{
  clear: both;
  margin: auto;
  color: #498da1;
  font-size: 30px;
  padding-bottom: 2%;
  margin-bottom: 5%;
  border-bottom: 2px solid #58a2ce; 
}

.form-zone.connect-zone .connect-zone-title b{ font-style: italic; }


.form-zone.connect-zone .form-input{ margin-bottom: 2%; }
.form-zone.connect-zone .form-input input{ height:40px; }

.form-zone.connect-zone .connect-link{
  width: 50%;
  margin: auto;
  text-align: left;
  padding-left: 5px;
  margin-bottom: 2%;
}

.form-zone.connect-zone .connect-link span{ font-family: arial; }

.form-zone.connect-zone .btn-send{ height: 40px; }


