<!-- Zone du filtre pour le formulaire de connexion -->
<div class="fitler" ng-if="activeFilter">
  <div class="row">
    <div class="col-xs-1 col-md-3 col-lg-3"></div>
    <div class="col-xs-10 col-md-6 col-lg-6 text-center">
      <div class="form-zone connect-zone">
        <button ng-click="closeFilter()">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
        <div class="connect-zone-title"> Connexion à <b>Handistress</b> </div>

        <form ng-submit="signIn()">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Email</label>
            <input ng-model="login.email" type="email" required>
            <div class="input-hover"></div>
          </md-input-container>
          
          <md-input-container class="md-block" flex-gt-sm>
            <label>Mote de passe</label>
            <input ng-model="login.pwd" type="password" required>
            <div class="input-hover"></div>
          </md-input-container>
                    
          <div class="connect-link">
            <a href="sign-up"> se créer un compte <span>?</span></a>
          </div>
          <input class="btn btn-send" type="submit" value="Se connecter">
        </form>

      </div>
    </div>
    <div class="col-xs-1 col-md-3 col-lg-3"></div>
  </div>
</div>

<!-- Zone bouton de connexion et d'inscription -->
<div class="row connect-button">
  <div ng-if="userData == null" class="col-xs-12 col-md-11 col-lg-11">
    <a href="sign-up">
      <button ng-if="boutonInscription" type="button" class="btn btn-connect btn-signUp">Inscription</button>
    </a>
    <button ng-click="openFilter()" type="button" class="btn btn-connect btn-signIn" ng-class="{'correct-color' : (colorSignIn == true)} ">Connexion</button>
  </div>
  
  <div ng-if="userData != null" class="col-xs-12 col-md-11 col-lg-11">
    <button ng-click="logoutUser()" type="button" class="btn btn-connect btn-signIn" ng-class="{'correct-color' : (colorSignIn == true)} ">Déconnexion</button>
  </div>
  <div class="col-md-1 col-lg-1"></div>
</div>


<!-- Pour le responsive -->
<nav ng-if="menuResponsive" class="nav-menu-mobile" ng-class="{'not-open': responsiveMenuOpen == false, 'open' : responsiveMenuOpen == true}">
  <button ng-click="openMenuResponsive()">
    <span class="glyphicon" ng-class="{'glyphicon-align-justify': responsiveMenuOpen == false, 'glyphicon-menu-up' : responsiveMenuOpen == true}"></span>
  </button>
  
  <ul class="nav-menu-link">
    <a href=" "><li><i class="icon-home"></i> Accueil</li></a>
    <a href="map"><li><i class="icon-map"></i> Carte</li></a>
    <a href="add-marker"><li><i class="icon-add-marker"></i> Ajout de Marker</li></a>
  </ul>
</nav>